@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #27292b;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 3px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #101112;
  color: #fff;
}

#container-dashboard {
  display: grid;
  grid-template-areas: "nav nav nav" "header header header" "main main aside" "footer footer footer";
  grid-template-rows: 76px auto auto 76px;
  grid-template-columns: 1fr 1fr 450px;
  min-height: 100vh;
}

#container-singlepage {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: 76px auto 76px;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

#container-signin {
  display: grid;
  grid-template-areas: "nav" "main";
  grid-template-rows: 76px auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141618;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid #fff;
  border-top-color: #002fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  grid-area: main;
  padding: 50px;
  height: fit-content;
}
main .indicator {
  display: flex;
  align-items: center;
}
main .indicator a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: fit-content;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: 20px;
}

header {
  background-color: #141618;
  padding: 25px 50px 50px 50px;
  grid-area: header;
}
header .indicator {
  display: flex;
  align-items: center;
}
header .indicator h1 {
  margin-right: 20px;
}
header .indicator a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: fit-content;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: auto;
}

aside {
  grid-area: aside;
  padding: 50px;
  border-left: 2px solid #141618;
}
aside .indicator {
  display: flex;
  align-items: center;
}
aside .indicator a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: fit-content;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: #141618;
  color: white;
}
footer a {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  #container-dashboard {
    display: grid;
    grid-template-areas: "nav" "header" "main" "aside" "footer";
    grid-template-rows: 76px auto auto auto 76px;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }
  .latest-games {
    flex-direction: column !important;
  }
  .latest-games .card {
    width: 100% !important;
  }
  .my-favourites .card {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #container-dashboard {
    display: grid;
    grid-template-areas: "nav" "header" "main" "aside" "footer";
    grid-template-rows: 76px auto auto auto 76px;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }
  #container-dashboard .latest-games {
    flex-direction: row !important;
  }
  #container-dashboard .latest-games .card:nth-child(1), #container-dashboard .latest-games .card:nth-child(2) {
    width: 100% !important;
  }
  #container-dashboard .latest-games .card:nth-child(3) {
    width: 100% !important;
  }
  #container-dashboard .my-favourites {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  #container-dashboard .my-favourites .card-link {
    width: 48% !important;
  }
}
.my-favourites {
  margin-top: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.my-favourites .card-link {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
}
.my-favourites .card-link article {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
}
.my-favourites .card-link figure {
  width: 100%;
  height: 200px;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.my-favourites .card-link figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.my-favourites .card-link .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 60px 30px;
}
.my-favourites .card-link .card-content h4 {
  font-size: 18px;
  font-weight: 400;
}
.my-favourites .card-link .card-content p {
  font-weight: 300;
}
.my-favourites .card-link .card-content a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: 70px;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: auto;
}

.game-library {
  margin-top: 25px;
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game-library .card-link {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: calc(33.3333333333% - 18px) !important;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
}
.game-library .card-link article {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.game-library .card-link figure {
  width: 100%;
  height: 200px;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.game-library .card-link figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.game-library .card-link .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 60px 30px;
}
.game-library .card-link .card-content h4 {
  font-size: 18px;
  font-weight: 400;
}
.game-library .card-link .card-content p {
  font-weight: 300;
}
.game-library .card-link .card-content a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: 70px;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: auto;
}

@media only screen and (max-width: 768px) {
  .game-library .card-link {
    width: calc(99% + 1px) !important;
  }
}
@media (min-width: 769px) and (max-width: 1399px) {
  .game-library .card-link {
    width: calc(50% - 12.5px) !important;
  }
}
.latest-games {
  margin-top: 25px;
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.latest-games .card {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: calc(33.3333333333% - 18px) !important;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
  border-radius: 20px;
}
.latest-games .card figure {
  width: 50%;
  height: 100%;
  margin: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.latest-games .card figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.latest-games .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 60px 30px;
}
.latest-games .card .card-content a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: 70px;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: auto;
}
.latest-games .card .card-content h4 {
  font-size: 18px;
  font-weight: 400;
}
.latest-games .card .card-content p {
  font-weight: 300;
}

.gameshop-page {
  margin-top: 25px;
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gameshop-page .card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: calc(33.3333333333% - 18px) !important;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
}
.gameshop-page .card figure {
  width: 100%;
  height: 200px;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.gameshop-page .card figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.gameshop-page .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 60px 30px;
}
.gameshop-page .card .card-content h4 {
  font-size: 18px;
  font-weight: 400;
}
.gameshop-page .card .card-content p {
  font-weight: 300;
}
.gameshop-page .card .card-content a {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: 70px;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: auto;
}

@media (max-width: 1024px) {
  .latest-games figure {
    width: 100%;
    height: 100%;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .latest-games figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .latest-games .card-content {
    width: 80%;
  }
  .latest-games .card-content a {
    margin-top: 10px;
  }
  .latest-games .card-content h1 {
    font-size: 18px;
    width: 100%;
  }
  .latest-games .card-content h3 {
    font-size: 15px;
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1300px) {
  .latest-games .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 31%;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 2, 0.37);
    border-radius: 20px;
  }
  .latest-games .card figure {
    width: 100%;
    height: 45%;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .latest-games .card figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .latest-games .card .card-content {
    width: 80%;
  }
  .latest-games .card .card-content a {
    margin-top: 10px;
  }
  .latest-games .card .card-content h1 {
    font-size: 18px;
    width: 100%;
  }
  .latest-games .card .card-content h3 {
    font-size: 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .gameshop-page .card {
    width: calc(99% + 1px) !important;
  }
  .latest-games .card {
    width: 100% !important;
  }
}
@media (min-width: 769px) and (max-width: 1399px) {
  .gameshop-page .card {
    width: calc(50% - 12.5px) !important;
  }
}
.game-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.game-profile-container .game-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  height: inherit;
}
.game-profile-container .game-profile figure {
  width: 48%;
  height: 100%;
  border-radius: 20px;
}
.game-profile-container .game-profile figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.game-profile-container .game-profile section {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 100%;
}
.game-profile-container .game-profile section .indicator {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.game-profile-container .game-profile section .indicator section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.game-profile-container .game-profile section .indicator section span {
  margin-right: 20px;
  background-color: #141618;
  padding: 10px;
  border-radius: 5px;
}
.game-profile-container .game-profile section button {
  border: none;
  width: 20%;
  padding: 4px;
  margin-top: 10px;
  border-radius: 6px;
}
.game-profile-container .game-profile section .summary {
  color: #999999;
}
.game-profile-container .game-profile section .gameprofile-content p {
  padding: 6px;
  margin-bottom: 5px;
  width: 80%;
  font-size: 13px;
  color: #999999;
}
.game-profile-container .game-profile section .gameprofile-content p .title-color {
  color: rgb(255, 255, 255);
  font-size: 15px;
}
@media only screen and (max-width: 1000px) {
  .game-profile-container .game-profile {
    flex-direction: column;
  }
  .game-profile-container .game-profile figure {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }
  .game-profile-container .game-profile section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .game-profile-container .game-profile section button {
    padding: 12px;
  }
}

#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signin section {
  width: 35%;
}
#signin section form {
  width: 100%;
}
#signin section form input[type=email] {
  margin-top: 20px;
  font-size: 18px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
  background-color: #141618;
  color: #fff;
}
#signin section form button {
  display: inline-block;
  width: fit-content;
  background-color: #ffffff;
  color: #141618;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #signin section {
    width: 400px;
  }
  #signin section form {
    width: calc(100% - 30px);
  }
}
nav.fixed {
  position: fixed;
  animation: slideDown 0.3s;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
nav {
  display: flex;
  align-items: center;
  background-color: #141618;
  color: white;
  height: 76px;
  padding: 0 50px;
  width: calc(100% - 100px);
  grid-area: nav;
}
nav a {
  text-decoration: none;
  margin-right: auto;
}
nav a img {
  width: 250px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: rgb(240, 240, 240);
}
nav ul a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
nav ul a:hover:after {
  transform: scaleX(1);
}
nav section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
}
nav section p {
  font-weight: 500;
}
nav section .logout {
  cursor: pointer;
  margin-left: 25px;
}
nav .hamburger {
  display: none;
  cursor: pointer;
  width: 40px;
  margin: 0 0 0 30px;
}
nav .bar {
  display: block;
  width: 100%;
  height: 3px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
nav .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
nav .hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
nav .hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 1089px) {
  nav ul,
  nav section {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
  nav ul.active {
    display: flex !important;
    position: fixed;
    top: 76px;
    left: 0;
    display: none;
    flex-direction: column !important;
    background-color: #101112;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 !important;
    text-align: center;
    transition: 0.3s;
  }
  nav ul li {
    margin: 40px 0 !important;
  }
  nav ul li a {
    font-size: 24px;
  }
  nav section.active {
    position: fixed;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #141618;
    width: calc(100% - 90px);
    padding: 20px;
    margin: 0 25px;
    border-radius: 20px;
  }
}
.btn {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 7px 10px;
  width: 70px;
  text-align: center;
  color: #141618;
  text-decoration: none;
  margin-top: auto;
}

/*# sourceMappingURL=main.css.map */
